@font-face {
  font-family: 'Consola';
  src: url('assets/fonts/consola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConsolaBold';
  src: url('assets/fonts/consolab.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-family: 'Consola', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.subcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
  
p {
  font-family: 'ConsolaBold', sans-serif;
  font-size: 20px;
  color: #17f700;
}

.title {
  margin-top: 2vh;
}
  
input {
  background-color: #00000000;
  border: 0px solid #00000000;
  color: #17f700;
  width: 30%;
  padding: 3.5px;
  transition: all 0.35s ease;
}

input::placeholder {
  color: #17f700;
}

input:hover {
  background-color: #202020;
}

input:focus {
  background-color: #202020;
  outline: none;
  color: #17f700;
}

select {
  padding: 3px;
  background-color: #00000000;
  color: #17f700;
  border: 0px solid #000000;
  cursor: pointer;
  transition: all 0.35s ease;
}

select:hover {
  background-color: #17f700;
  color: #ffffff;
}
  
button {
  padding: 3px;
  background-color: #00000000;
  color: #17f700;
  border: 0px solid #000000;
  cursor: pointer;
  transition: all 0.35s ease;
}

button:hover {
  background-color: #17f700;
  color: #ffffff;
}
  
.result-container {
  background-color: #202020;
  border: 1px solid #000000;
}
  