* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
}

.albumContainer {
    width: 50vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.albumContainer img {
    width: 250px; /* Adjust as needed */
    height: 250px;
    margin-top: 3vh;
    transition: all 0.35s ease;
}

.albumContainer img:hover {
    transform: scale(1.1) translateX(120px);
}

.albumCoverModel {
    position: fixed;
    top: 0;
    right: 0vw;
    width: 60vw; /* Your desired cropped width */
    height: 100vh; /* Your desired cropped height */
    overflow: hidden; /* Crops content that overflows */
    z-index: 0;
}

.textContainer {
    position: fixed;
    top: 3vh;
    left: 2vw;
    width: 15vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "cofo-peshka-variable", sans-serif;
    font-variation-settings: "slnt" -15, "wght" 1900, "wdth" 130;
    font-size: 26pt;
    color: #000000;
}

.text {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-size: 16pt;
    color: #000000;
    text-align: justify;
    text-justify: inter-word;
}





