@font-face {
    font-family: 'Consola';
    src: url('assets/fonts/consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConsolaBold';
    src: url('assets/fonts/consolab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 2vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    text-align: justify;
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.title:hover {
    background-color: #ffffff;
    color: #f70000;
}

#text {
    position: absolute;
    bottom: 3vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    text-align: justify;
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    color: #ffffff;
}