@font-face {
    font-family: 'Consola';
    src: url('assets/fonts/consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConsolaBold';
    src: url('assets/fonts/consolab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f70000;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

.topContainer {
    position: absolute;
    top: 3vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 97vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.title {
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    color: #ffffff;
}

#galleryView, #streetView {
    background-color: #00000000;
    color: #ffffff;
    border: 0px solid #000000;
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    cursor: pointer;
    transition: all 0.5s ease;
}

#galleryView:hover, #streetView:hover {
    background-color: #ffffff;
    color: #000000;
}

.text {
    position: absolute;
    bottom: 3vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 97vw;
    text-align: justify;
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    color: #ffffff;
}

canvas {
    display: block;
}

#loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f70000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

h1 {
    font-family: 'Consola', sans-serif;
    font-size: 32px;
}