@font-face {
    font-family: 'Consola';
    src: url('assets/fonts/consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consola';
    src: url('assets/fonts/consolab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f70000;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

.text {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 3vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    width: 97vw;
    text-align: justify;
    font-family: 'Consola', sans-serif;
    font-size: 12pt;
    color: #ffffff;
}

canvas {
    display: block;
}