/* * {
    border: 2px solid red;
} */

body {
    width: 100vw;
    height: 200vh;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#checkbox-grid {
    position: fixed;
    top: 50%;
    left: 50%;
    display: grid;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#webcam {
    opacity: 0;
}

input[type="checkbox"] {
    appearance: auto;
    -webkit-appearance: checkbox;
    margin: 0.5px;
}