* {
    border: 2px solid red;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#checkbox-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 0px;
    justify-content: center;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked {
    background-color: black;
}
