/* * {
    border: 2px solid red;
} */

body {
    width: 100vw;
    height: 200vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#checkbox-grid {
    position: fixed;
    top: 50%;
    left: 50%;
    display: grid;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#webcam {
    opacity: 0;
}

input[type="checkbox"] {
    appearance: auto;
    -webkit-appearance: checkbox;
    margin: 0.5px;
}

.textContainer {
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    width: 200px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-size: 16pt;
    color: #000000;
    margin: 0;
    padding: 0;
}

.arrow {
    transform: rotate(90deg);
}